.root {
  position: relative;
  display: block;
}

.labelActive {
  color: var(--trood-orange);
}

.label {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.errors {
  display: flex;
  align-items: center;
  width: 100%;
}

.errorText {
  margin-top: 5px;
  color: var(--trood-red);
  font-size: 12px;
}
