.root {
  position: relative;
  display: block;
}

.label {
  display: block;
  margin-left: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--trood-text-light-gray);
  border: none;
  margin-bottom: 6px;
}

.active {
  color: var(--trood-orange);
}

.errors {
  display: flex;
  align-items: center;
  width: 100%;
}

.errorText {
  margin-top: 5px;
  color: var(--trood-red);
  font-size: 18px;
}
