.root {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    color: var(--trood-text-silver);
}

.link.active,
.link:hover {
    color: var(--trood-text);
}

.subMenu {
    display: flex;
    flex-flow: column nowrap;
    background: var(--trood-white);
    border: 1px solid var(--trood-border-dark);
    border-radius: 16px;
    padding: 0 18px;
}

.subMenu > * {
    white-space: nowrap;
    padding: 20px 0;
}

.subMenu > :hover {
    color: var(--trood-orange);
}

.subMenu > :not(:last-child) {
    border-bottom: 1px solid var(--trood-border-dark);
}

