.root {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 6px 16px;
  color: var(--trood-text-light-gray);
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

.required {
  color: var(--trood-orange);
  margin-left: 0.25em;
}

.hint {
  margin-left: 0.6em;
}
