.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.root {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh;
    background-color: var(--trood-background);
    width: 100%;
    max-width: 1440px;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 100%;
    padding: 24px 128px 56px;
    width: 100%;
}
