.root {
    display: flex;
    flex-flow: column nowrap;
    padding: 67px 128px 55px;
    background-color: var(--trood-background-dark);
    color: var(--trood-text-white);
    gap: 8px;
    width: 100%;
}

.top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 82px;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    padding: 24px 68px 24px 0;
    margin-bottom: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
    border-bottom: 1px solid var(--trood-white);
}

.mainLeft {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 506px;
    padding-right: 16px;
}

.phone:hover  {
    color: var(--trood-orange);
}

.phoneLabel {
    margin: -2px 0 2px;
    font-size: 18px;
    line-height: 125%;
}

.phone {
    width: fit-content;
    font-size: 32px;
    line-height: 105%;
}

.main .mainLeft .registrationBtn {
    max-width: 413px;
    margin-top: auto;
    color: var(--trood-text-gray);
    background-color: var(--trood-background);
}

.main .mainLeft .registrationBtn:hover {
    background-color: var(--trood-orange);
}

.mainRight {
    display: flex;
    flex-flow: nowrap;
    gap: 40px;
    flex: 0 1 612px;
}

.block {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 286px;
    padding-left: 16px;
    border-left: 1px solid var(--trood-white);
}

.blockTitle {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 105%;
}

.links {
    display: flex;
    flex-flow: column nowrap;
    font-size: 18px;
    line-height: 125%;
}

.links a:hover {
    color: var(--trood-orange);
}

.socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 24px;
    gap: 8px;
}

.socialLink {
    background-color: var(--trood-white);
    color: var(--trood-text);
    border-radius: 50%;
}

.socialLink:hover {
    background-color: var(--trood-orange);
    color: var(--trood-white);
}

.socialLink svg {
    width: 55%;
    height: 55%;
}

.bottom {
    display: flex;
    flex-flow: row nowrap;
    gap: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: var(--trood-text-silver);
}

.copy {
    margin-right: 33px;
}

.bottomLink:hover {
    color: var(--trood-orange);
}
