.root {
    display: flex;
    flex-flow: column nowrap;
    padding: 67px 128px 55px;
    background-color: var(--trood-background-dark);
    color: var(--trood-text-white);
    gap: 8px;
    width: 100%;
    letter-spacing: -0.02em;
    font-weight: 500;
}

.logo {
    position: relative;
    width: 280px;
    height: 52px;
}

.top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 170px;
}

.top .left {
    display: flex;
    flex-flow: column nowrap;
}

.top .right {
    position: relative;
    width: 140px;
    height: 140px;
}

.supportLabel {
    margin-top: auto;
    margin-bottom: 4px;
    font-size: 18px;
}

.supportContact {
    font-size: 32px;
}

.supportContact:hover {
    color: var(--trood-orange);
}

.main {
    display: flex;
    flex-flow: row nowrap;
    padding: 24px 0;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--trood-white);
    gap: 40px;
}

.main .left {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 415px;
    margin-right: 50px;
}

.main .left .regButton:hover {
    color: var(--trood-text);
    background-color: var(--trood-background);
}

.main .right {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    flex: 0 1 680px;
}

.block {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 16px;
    border-left: 1px solid var(--trood-white);
    margin-right: 42px;
}

.blockTitle {
    margin-bottom: 10px;
    font-size: 32px;
}

.links {
    display: flex;
    flex-flow: column nowrap;
    font-size: 18px;
}

.links a:hover {
    color: var(--trood-orange);
}

.socials {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 24px;
    gap: 8px;
}

.socialLink {
    background-color: var(--trood-white);
    color: var(--trood-text);
    border-radius: 50%;
}

.socialLink:hover {
    background-color: var(--trood-orange);
    color: var(--trood-white);
}

.socialLink svg {
    width: 55%;
    height: 55%;
}

.bottom {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    align-items: flex-end;
}

.bottom .left {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 415px;
    margin-right: 50px;
    font-size: 18px;
    color: var(--trood-text-light-gray);
}

.sponsor {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    margin-top: 8px;
}

.bottom .right {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 680px;
    font-size: 16px;
    font-weight: 400;
    color: var(--trood-background-gray);
}

.copy {
    margin-top: 24px;
}

.bottomLink:hover {
    color: var(--trood-orange);
}

@media (max-width: 1279px) and (min-width: 800px) {
    .root {
        padding: 16px;
    }

    .logo {
        width: 200px;
    }

    .top {
        padding-right: 0;
    }

    .supportContact {
        font-size: 24px;
    }

    .top .right {
        width: 100px;
        height: 100px;
    }

    .main {
        flex-direction: column;
    }

    .main .left {
        flex: 1;
        margin-right: 0;
    }

    .main .right {
        flex: 1;
    }
}

@media (max-width: 799px) {
    .root {
        padding: 16px;
    }

    .logo {
        width: 140px;
    }

    .top {
        padding-right: 0;
    }

    .supportContact {
        font-size: 24px;
    }

    .top .right {
        width: 60px;
        height: 60px;
    }

    .main {
        flex-direction: column;
    }

    .main .left {
        flex: 1;
        margin-right: 0;
    }

    .main .right {
        flex: 1;
        flex-direction: column;
    }

    .bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .bottom .left {
        flex: 1;
    }

    .bottom .right {
        flex: 1;
        margin-right: 0;
    }
}
