.root {
    display: flex;
    flex-flow: row nowrap;
    gap: 56px;
}

.root * {
    text-transform: none;
}

.left {
    margin-top: 24px;
    flex-basis: 780px;
}

.right {
    flex-basis: 300px;
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    margin-bottom: 20px;
}

.right .select > div {
    border: 1px solid var(--trood-border-dark);
    border-radius: 16px;
    height: 64px;
}

.select span, .button {
    font-weight: 500;
    font-size: 18px;
    line-height: 97%;
    letter-spacing: -0.04em;
    color: var(--trood-text);
}

.right .select.active {
    color: var(--trood-orange);
}

.right .select.active > div {
    border: 1px solid var(--trood-orange);
}

.right .select.active span {
    color: var(--trood-orange);
}

.button {
    justify-content: flex-start;
}
