.root {
  position: relative;
  border: 1px solid var(--trood-border-light-gray);
  border-radius: var(--trood-input-border-radius);
  background-color: var(--trood-white);
  display: flex;
  align-items: stretch;
  min-height: 72px;
  padding: 8px 16px;
}

.root.active {
  border-color: var(--trood-orange);
}

.label.active {
  color: var(--trood-orange)
}

.error {
  border-color: var(--trood-red);
}

.active {
  border: 1px solid var(--trood-orange);
  box-shadow: none;
}

.label {
  margin-left: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--trood-text-light-gray);
  border: none;
  margin-bottom: 6px;
}

.phoneCode {
  margin-right: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--trood-text-silver);
}

.passwordEye {
  margin-right: 14px;
}

.passwordEye svg path {
  fill: var(--trood-text-light-gray);
  fill-opacity: 0.4;
}

.input {
  font-size: inherit;
  width: 100%;
  min-width: 0;
  padding: 0;
  resize: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: inherit;
}

.input::placeholder {
  letter-spacing: 0.03em;
  color: var(--trood-text-silver);
  opacity: 0.4;
}

.textarea {
  composes: input;
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
}

.root .disabled {
  color: var(--trood-text-light-gray);
}

.errorText {
  margin-top: 5px;
  color: var(--trood-red);
  font-size: 18px;
}

.colorRepresentation {
  width: 40px;
  height: 40px;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.shadow {
  composes: input;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}
