.title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.1;
    height: 3.3em;
    word-break: break-word;
}

.newsItem {
    position: relative;
    height: 520px;
    font-weight: 500;
    overflow: hidden;
}

.newsItem:hover,
.newsItem:hover * {
    color: var(--trood-orange) !important;
}

.date {
    font-size: 18px;
}

.big {
    flex-basis: 66%;
    color: var(--trood-text-white);
}

.big .newsContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.big .title {
    font-size: 48px;
}

.normal {
    flex-basis: 33%;
}

.normal .newsContent {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    height: 100%;
}

.normal .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
}

.normal .title {
    font-size: 32px;
}

.normal .date {
    color: var(--trood-text-light-gray);
}

.normal .arrowWithTail {
    color: var(--trood-orange);
    transform: rotate(-45deg);
}

.normal .imageWrapper {
    position: relative;
    height: 304px;
}

@media (max-width: 1280px) and (min-width: 800px) {
    .newsItem {
        height: 420px;
    }

    .big .title {
        font-size: 32px;
    }

    .normal .title {
        font-size: 24px;
    }

    .normal .imageWrapper {
        height: 220px;
    }
}

@media (max-width: 799px) {
    .big,
    .normal {
        flex-basis: auto;
    }

    .newsItem {
        height: 420px;
    }

    .big .title {
        font-size: 32px;
    }

    .normal .title {
        font-size: 24px;
    }

    .normal .imageWrapper {
        height: 220px;
    }
}
