.title {
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -0.02em;
}

.menu {
    padding: 74px 0 56px;
    border-bottom: 1px solid var(--trood-border-dark);
    margin-bottom: 24px;
}
