.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 24px;
}

.pencil {
    color: var(--trood-text-light-gray);
}

.pencil:hover {
    color: var(--trood-text);
}

.title {
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -0.02em;
}

.menu {
    margin: 42px 0 24px;
}
