.root {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
}

.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: inherit;
  z-index: 10;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: inherit;
  z-index: 10;
}

.labelContainer {
  display: flex;
  align-items: center;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: inherit;
}

.fill {
  height: 64px;
  padding: 0 16px;
  text-transform: lowercase;
  border-radius: 16px;
}

.fill.black,
.fill.orange:not(.disabled):hover {
  color: var(--trood-text-white);
  background-color: var(--trood-background-dark);
}

.fill.orange,
.fill.black:not(.disabled):hover {
  color: var(--trood-text-white);
  background-color: var(--trood-orange);
}

.fill.white {
  color: var(--trood-text);
  background-color: var(--trood-white);
}

.fill.white:not(.disabled):hover {
  color: var(--trood-orange);
}

.text {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.border {
  height: 64px;
  padding: 0 16px;
  text-transform: lowercase;
  border-radius: 16px;
  border: 1px solid currentColor;
}

.text.black,
.border.black,
.text.orange:not(.disabled):hover,
.border.orange:not(.disabled):hover {
  color: var(--trood-text);
}

.text.orange,
.border.orange,
.text.black:not(.disabled):hover,
.border.black:not(.disabled):hover,
.text.white:not(.disabled):hover,
.border.white:not(.disabled):hover {
  color: var(--trood-orange);
}

.text.white,
.border.white {
  color: var(--trood-white);
}

.icon {
  width: 1em;
  height: 1em;
}

.icon:not(:last-child) {
  margin-right: 1em;
}
