.root {
    display: flex;
    flex-flow: column nowrap;
    padding: 28px 28px 0;
    width: 100%;
}

.container {
    display: flex;
    height: 110px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--trood-border-dark);
    border-right: none;
    border-left: none;
    padding: 28px 0 24px;
}

.logo {
    flex: 0 0 312px;
    margin-right: 14px;
}

.menu {
    display: flex;
    height: inherit;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;
    gap: 24px;
    flex: 1 1 100%;
    letter-spacing: -0.035em;
}

.link {
    height: fit-content;
    order: 1;
    font-size: 18px;
    line-height: 100%;
}

.link.active {
    margin-right: auto;
    margin-top: 23px;
    align-self: flex-start;
    order: 0;
    font-family: Aeroport, sans-serif;
    font-size: 22px;
}

.link:hover,
.link.active {
    color: var(--trood-orange);
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 0 0 92px;
}

.button {
    background-color: var(--trood-gray);
    color: var(--trood-text-white);
    border-radius: 50%;
}

.button:hover {
    background-color: var(--trood-orange);
}

.button svg {
    width: 55%;
    height: 55%;
}

.userMenu {
    display: flex;
    flex-flow: column nowrap;
    background: var(--trood-white);
    border: 1px solid var(--trood-border-dark);
    border-radius: 16px;
    padding: 0 18px;
}

.userMenu > * {
    white-space: nowrap;
    padding: 20px 0;
}

.userMenu > :hover {
    color: var(--trood-orange);
}

.userMenu > :not(:last-child) {
    border-bottom: 1px solid var(--trood-border-dark);
}

.dark .container {
    border-color: var(--trood-border-light);
}

.dark .link,
.dark .link.active {
    color: var(--trood-text-white);
}

.dark .link:hover {
    color: var(--trood-orange);
}

.dark .button {
    background-color: var(--trood-white);
    color: var(--trood-text-gray);
}

.button:hover {
    background-color: var(--trood-orange);
    color: var(--trood-text-white);
}
