.root {
    display: flex;
    flex-flow: column nowrap;
    padding: 28px 28px 0;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid var(--trood-border-dark);
    border-right: none;
    border-left: none;
    padding: 28px 0 32px;
}

.logo {
    flex: 0 0 500px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    flex: 1 1 100%;
    text-transform: lowercase;
    letter-spacing: -0.035em;
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 150px;
    flex: 0 0 150px;
}

.button {
    background-color: var(--trood-gray);
    color: var(--trood-text-white);
    border-radius: 50%;
}

.button:hover {
    background-color: var(--trood-orange);
}

.button svg {
    width: 55%;
    height: 55%;
}

.userMenu {
    display: flex;
    flex-flow: column nowrap;
    background: var(--trood-white);
    border: 1px solid var(--trood-border-dark);
    border-radius: 16px;
    padding: 0 18px;
}

.userMenu > * {
    white-space: nowrap;
    padding: 20px 0;
}

.userMenu > :hover {
    color: var(--trood-orange);
}

.userMenu > :not(:last-child) {
    border-bottom: 1px solid var(--trood-border-dark);
}
