.breadcrumbs {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: var(--trood-text-light-gray);
    margin-bottom: 42px;
}

.link:hover {
    color: var(--trood-orange);
}

.search {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    box-shadow: inset 0 -1px var(--trood-border-dark);
    margin-bottom: 45px;
}

.search .select {
    width: 360px;
}

.search .select > div {
    border-top: none;
    border-bottom: none;
}

.search .splitter {
    height: 54px;
    border-left: 1px solid var(--trood-border-dark);
}

.search .input {
    flex: 1;
}

.search .input > div {
    border-bottom: none;
    background-color: transparent;
}

.search .input fieldset {
    border-top: none;
    padding-top: 0;
    margin: auto 0;
}

.search .input input {
    margin-bottom: 0;
}

.search .button {
    height: 46px;
    align-self: center;
    font-weight: 450;
    font-size: 18px;
}

.title {
    position: relative;
    gap: 16px;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -0.02em;
}

.verify {
    position: absolute;
    margin-left: 16px;
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
}

.verifyIcon {
    width: 14px;
    height: 14px;
    padding-left: 2px;
    color: var(--trood-white);
    background-color: var(--trood-orange);
    border-radius: 100%;
}

.verifyText {
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: var(--trood-orange);
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 56px;
}

.header .button {
    width: 360px;
}

.menu {
    margin-bottom: 56px;
}
