.breadcrumbs {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: var(--trood-text-light-gray);
    margin-bottom: 42px;
}

.link:hover {
    color: var(--trood-orange);
}



.search {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    margin-bottom: 22px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--trood-border-gray-dark);
}

.search .input {
    flex: 1;
    color: var(--trood-text-light-gray);
}

.search .searchBtn:hover {
    stroke: var(--trood-orange);
}

.search .button {
    position: absolute;
    right: 12px;
    align-self: center;
    color: var(--trood-gray-dark);
    background-color: var(--trood-white);
    stroke: var(--trood-gray-dark);
    stroke-width: 2;
}

.search .clearBtn {
    padding: 0;
    right: -40px;
    stroke: var(--trood-white);
}

.title {
    position: relative;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -0.02em;
}

.verify {
    position: absolute;
    width: 140px;
    margin-left: 16px;
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
}

.verifyIcon {
    width: 14px;
    height: 14px;
    padding-left: 2px;
    color: var(--trood-white);
    background-color: var(--trood-orange);
    border-radius: 100%;
}

.verifyText {
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: var(--trood-orange);
}

.header {
    display: flex;
    flex-flow: row nowrap;
    gap: 170px;
    justify-content: space-between;
    margin-bottom: 56px;
}

.header .button {
    width: 360px;
}

.menu {
    margin-bottom: 56px;
}
