.root {
    display: flex;
    flex-flow: column nowrap;
}

.top {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 27px;
    margin-bottom: 14px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid var(--trood-border-gray-dark);
}

.goBackBtn {
    position: absolute;
    left: -100px;
    padding: 0 10px;
    font-size: 20px;
    border: 1px solid var(--trood-border-gray-dark);
    border-radius: 8px;
}

.step {
    display: flex;
    flex-flow: row nowrap;
    font-weight: 500;
    font-size: 24px;
    line-height: 97%;
    color: var(--trood-text-silver);
}

.stepText,
.stepArrow {
    margin-right: 25px;
    opacity: 0.4;
}

.active {
    color: var(--trood-orange);
    opacity: 1;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    gap: 6px;
}

.mainRegistration {
    composes: main;
    max-width: 390px;
}

.mainVerification {
    composes: main;
    margin-top: 11px;
    max-width: 422px;
}

.password {
    margin-bottom: 19px;
}

.checkboxWrapper {
    display: flex;
    flex-flow: row nowrap;
    margin: 18px 0;
}

.checkbox {
    margin-right: 12px;
    margin-top: 2px;
}

.checkboxText {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    cursor: default;
    text-transform: none;
}

.checkboxLink {
    color: var(--trood-orange);
}

.forgotButton {
    align-self: flex-end;
    margin-bottom: 24px;
}

.loginButton {
    text-transform: none;
    margin-bottom: 13px;
}

.globalError {
    font-size: 18px;
    color: var(--trood-red);
    margin-bottom: 24px;
}

.registerQuestion {
    font-size: 18px;
    line-height: 100%;
}

.registerButton {
    text-transform: none;
    align-self: flex-start;
}

.verificationText {
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: -0.02em;
}

.verificationQuestion {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.verificationButton {
    max-width: 390px;
    margin-bottom: 10px;
    text-transform: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 97%;
    letter-spacing: -0.04em;
}

.supportLink {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: var(--trood-orange);
}
