.root {
    display: flex;
    flex-flow: row nowrap;
}

.left {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 490px;
    padding-right: 16px;
    border-right: 1px solid var(--trood-border-dark);
}

.step {
    font-weight: 500;
    font-size: 28px;
    padding: 24px 0;
    border-bottom: 1px solid var(--trood-border-dark);
}

.step:first-child {
    padding-top: 0;
}

.step.active {
    color: #E4A642;
}

.right {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 420px;
    margin: 0 auto;
}

.login {
    margin-bottom: 48px;
}

.password {
    margin-bottom: 24px;
}

.forgotButton {
    align-self: flex-end;
    margin-bottom: 24px;
}

.loginButton {
    margin-bottom: 24px;
}

.globalError {
    font-size: 18px;
    color: var(--trood-red);
    margin-bottom: 24px;
}

.registerQuestion {
    font-size: 18px;
    margin-bottom: 4px;
}

.registerButton {
    align-self: flex-start;
}

.verificationText {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: -0.02em;
}

.confirmationText {
    padding: 20px 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 97%;
    letter-spacing: -0.04em;
    border-top: 1px solid #2F2D2D;
    border-bottom: 1px solid #2F2D2D;
}

.verificationQuestion {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}

.verificationButton {
    width: fit-content;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
}
