.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 24px;
    font-weight: 500;
    font-size: 48px;
}

.pencil {
    color: var(--trood-text-light-gray);
}

.pencil:hover {
    color: var(--trood-text);
}

.root {
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 24px;
    margin-top: 24px;
}

.left {
    display: flex;
    max-width: 172px;
    flex-flow: column nowrap;
    padding: 0 0 24px;
    margin-right: 16px;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
}

.verify {
    margin: 24px 0;
}

.verifyIcon {
    align-self: flex-start;
    width: 14px;
    height: 14px;
    margin-bottom: 8px;
    padding-left: 2px;
    color: var(--trood-white);
    background-color: var(--trood-background-light-gray);
    opacity: 0.4;
    border-radius: 100%;
    flex-shrink: 0;
}

.verifyIcon.active {
    background-color: var(--trood-orange);
    opacity: 1;
}

.verifyText {
    color: var(--trood-text-light-gray);
    opacity: 0.4;
}

.verifyText.active {
    color: var(--trood-text-gray);
    opacity: 1;
}

.link {
    color: var(--trood-orange);
}

.right {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 67%;
    gap: 32px;
    border-left: 1px solid var(--trood-border-dark);
    padding-left: 16px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}

.row.additionalGap {
    margin-top: 42px;
}

.block {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1;
    max-width: 366px;
}

.block .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--trood-text-light-gray);
    margin-bottom: 8px;
}

.block .value {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

.block .value:empty:after {
    content: '--------------------';
    letter-spacing: -0.15em;
}

.controls {
    margin-top: 24px;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 56px;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

@media (max-width: 1279px) and (min-width: 800px) {
    .header {
        font-size: 32px;
    }

    .root {
        flex-direction: column;
    }

    .left {
        max-width: none;
        align-items: center;
    }

    .verify {
        display: flex;
    }

    .verifyIcon {
        margin-bottom: 0;
        margin-right: 0.5em;
    }

    .right {
        border-left: none;
        padding-left: 0;
    }
}

@media (max-width: 799px) {
    .header {
        font-size: 32px;
    }

    .root {
        flex-direction: column;
    }

    .left {
        max-width: none;
        align-items: center;
    }

    .verify {
        display: inline;
        text-align: center;
    }

    .verifyIcon {
        margin-bottom: 0;
        margin-right: 0.5em;
        display: inline-flex;
    }

    .verifyText {
        display: inline;
    }

    .verifyInfo {
        text-align: center;
    }

    .right {
        border-left: none;
        padding-left: 0;
        gap: 16px;
    }

    .row {
        flex-direction: column;
        gap: 16px;
    }

    .row.additionalGap {
        margin-top: 16px;
    }
}
