.root {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 100%;
    gap: 7px;
    margin-top: 24px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.row.additionalGap {
    margin-top: 30px;
}

.section {
    width: 100%;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 24px;
}

.section:not(:first-of-type) {
    margin-bottom: 35px;
}

.cell {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 390px;
}

.controls {
    margin-top: 56px;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.controlsBtn {
    width: 378px;
    font-weight: 500;
    font-size: 24px;
    line-height: 97%;
    letter-spacing: -0.04em;
}

.contactBlock {
    composes: row;
    position: relative;
    gap: 0;
}

.cell .inputLeft {
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.cell .inputRight {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.split {
    position: relative;
    z-index: 9;
    width: 1px;
    background-color: var(--trood-border-light-gray);
    margin: 34px 0 8px -1px;
}

.icon {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 16px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--trood-gray-dark);
    color: var(--trood-white);
}

.add {
    align-self: flex-start;
    line-height: 125%;
}

.addNew {
    margin-top: 16px;
}

.addPhoto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 172px;
    height: 172px;
    color: var(--trood-text-silver);
    border: 1px dashed var(--trood-border-light-gray);
    border-radius: 0;
    cursor: pointer;
}

.addPhotoIcon {
    align-self: center;
    justify-content: center;
    margin-bottom: 9px;
    opacity: 0.4;
}

.addPhotoLabel {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    opacity: 0.4;
}

.photoRow {
    composes: row;
    flex-flow: row wrap;
    gap: 24px;
}

.photo {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.iconPhoto {
    composes: icon;
    position: absolute;
    top: -12px;
    right: -12px;
    margin: 0;
}
