.root {
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 42px;
    margin-top: 24px;
    gap: 16px;
}

.left {
    display: flex;
    flex: 0 0 188px;
    flex-flow: column nowrap;
    padding-bottom: 24px;
    align-items: center;
    gap: 26px;
    padding-right: 16px;
    border-right: 1px solid var(--trood-border-dark);
    margin-right: 16px;
}

.image {
    border: 1px dashed var(--trood-border-light-gray) !important;
}

.addPhoto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 172px;
    height: 172px;
    color: var(--trood-text-light-gray);
    border: 1px dashed var(--trood-border-light-gray);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.4;
}

.addPhotoIcon {
    align-self: center;
    justify-content: center;
    margin-top: -4px;
}

.addPhotoLabel {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.addPhotoBtnContainer {
    font-size: 24px;
}

.addPhotoBtn {
    display: flex;
    padding-right: 10px;
    gap: 18px;
}

.btnLabel {
    font-size: 18px;
    align-self: flex-end;
}

.right {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 100%;
}

.block {
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.block:not(:last-child) {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--trood-border-dark);
    margin-bottom: 16px;
}

.checkboxBlock {
    composes: block;
    gap: 6px;
}

.title {
    font-weight: 500;
    margin-bottom: 24px;
}

.checkboxBlock .title {
    margin-bottom: 0;
}

.subTitle {
    margin-top: 34px;
    font-weight: 500;
    font-size: 20px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.cell {
    flex: 1;
    width: calc(50% - 8px);
    max-width: 390px;
}

.cellFull {
    flex: 1;
    max-width: 796px;
}

.contactBlock {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}

.contactBlock .cell {
    width: 50%;
    max-width: 50%;
}

.cell .inputLeft {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.cell .selectRight > div:last-child {
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.add {
    margin-top: 16px;
    justify-content: flex-start;
    line-height: 125%;
}

.split {
    position: relative;
    z-index: 9;
    width: 1px;
    background-color: var(--trood-border-light-gray);
    margin: 34px 0 8px -1px;
}

.icon {
    position: absolute;
    right: -40px;
    bottom: 24px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--trood-gray-dark);
    color: var(--trood-white);
}

.controls {
    margin-top: 56px;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.submit {
    width: 389px;
}

.goBack {
    width: 374px;
}

.goBack a {
    justify-content: flex-start;
}

@media (max-width: 1279px) and (min-width: 800px) {
    .root {
        flex-flow: column;
    }

    .left {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }

    .icon {
        top: -6px;
        right: 0;
    }
}

@media (max-width: 799px) {
    .root {
        flex-direction: column;
    }

    .left {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }

    .row {
        flex-direction: column;
    }

    .cell {
        width: 100%;
    }

    .cell:empty {
        margin-top: -16px;
    }

    .block .title {
        margin-bottom: 10px;
    }

    .contactBlock {
        flex-direction: column;
        border: 1px solid var(--trood-border-light-gray);
        border-radius: var(--trood-input-border-radius);
        margin-top: 24px;
    }

    .icon {
        top: -30px;
        right: 0;
    }

    .contactBlock:before {
        position: absolute;
        top: -24px;
        left: 16px;
        content: 'Телефон';
        display: flex;
        flex-flow: row nowrap;
        color: var(--trood-text-light-gray);
        font-weight: 400;
        font-size: 18px;
        line-height: 1;
    }

    .contactBlock .cell {
        width: 100%;
        max-width: none;
    }

    .cell .inputLeft {
        border: none;
        border-bottom-right-radius: var(--trood-input-border-radius);
        border-top-right-radius: var(--trood-input-border-radius);
        padding: 0 16px;
        min-height: 50px;
    }

    .cell .inputLeftLabel {
        margin-top: 8px;
        margin-bottom: 0;
    }

    .cell .selectRight > div:first-child {
        margin-bottom: 0;
    }

    .cell .selectRight > div:last-child {
        border: none;
        border-bottom-left-radius: var(--trood-input-border-radius);
        border-top-left-radius: var(--trood-input-border-radius);
        height: 50px;
    }

    .contactBlock .split {
        width: 100%;
        height: 1px;
        margin: -1px 0 8px;
    }

    .controls {
        flex-direction: column-reverse;
    }
}