.root {
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 24px;
    margin-top: 24px;
}

.column {
    display: flex;
    flex: 1 1 100%;
    flex-flow: column nowrap;
    padding: 0 16px 24px;
    gap: 40px;
}

.column.left {
    align-items: center;
    border-right: 1px solid var(--trood-border-dark);
}

.block {
    display: flex;
    flex-flow: column nowrap;
}

.block .title {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 8px;
    text-transform: lowercase;
}

.block .value {
    font-weight: 500;
    font-size: 24px;
}

.block .value:empty:after {
    content: '--------------------';
    letter-spacing: -0.15em;
}

.controls {
    margin-top: 24px;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 56px;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}
