.root {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.left {
    display: flex;
    flex: 1 1 33%;
    flex-flow: column nowrap;
    gap: 24px;
    padding-right: 16px;
    border-right: 1px solid var(--trood-border-dark);
}

.block {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.block .title {
    font-size: 18px;
    color: var(--trood-text-light-gray);
}

.right {
    display: flex;
    flex: 1 1 67%;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.messages {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
    max-height: 500px;
    overflow-y: auto;
}

.message {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    font-size: 18px;
}

.message .avatar {
    flex: 0 0 72px;
}

.message .main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    gap: 8px;
}

.message .user {
    font-weight: 500;
}

.message .text {
    font-weight: 400;
}

.message .date {
    color: var(--trood-text-light-gray);
}

.newMessage {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid var(--trood-border-dark);
}

.input {
    margin-top: 40px;
}

.input > div:last-child {
    border-bottom: none;
}

.sendMessage {
    align-self: flex-end;
    margin-bottom: 8px;
}
