.root {
    position: relative;
    display: flex;
    padding: 63px 42px 56px;
    border-radius: 16px;
}

.root .button {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--trood-gray-dark);
}

.title {
    margin-bottom: 42px;
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.02em;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 24px;
    padding: 24px 16px;
    border: 1px solid var(--trood-border-light-gray);
    border-radius: 16px;
    line-height: 1.4;
}

.left {
    flex: 0 1 50%;
    padding-right: 16px;
    border-right: 1px solid var(--trood-border-gray-dark);
}

.categoryBlock {
    padding-bottom: 24px;
}

.categoryBlock:not(:first-child) {
    padding-top: 24px;
}

.categoryBlock:not(:last-child) {
    border-bottom: 1px solid var(--trood-border-gray-dark);
}

.categoryBlock * {
    border-radius: 8px;
}

.mainCategory {
    font-weight: 500;
    font-size: 24px;
}

.mainCategory:not(:last-child) {
    margin-bottom: 16px;
}

.mainCategory, .subCategory {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.clickable:hover {
    background-color: var(--trood-background-gray-a04);
}

.subCategory, .clickable {
    cursor: pointer;
}

.subCategory {
    font-weight: 400;
    font-size: 18px;
    color: var(--trood-text-light-gray);
}

.right {
    flex: 0 1 50%;
    padding-left: 16px;
    margin-top: 50px;
}

.addCategory {
    composes: mainCategory;
    font-size: 18px;
    color: var(--trood-text-light-gray);
}

.subAddCategory {
    font-weight: 400;
    composes: subCategory;
    padding-left: 16px;
}

.active.clickable {
    color: var(--trood-orange)
}
