.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  width: 100%;
  cursor: pointer;
  height: 72px;
  max-height: 100%;
  border: 1px solid var(--trood-border-light-gray);
  background-color: var(--trood-white);
  border-radius: var(--trood-input-border-radius);
}

.root:focus {
  border-color: var(--trood-orange);
  outline: none;
}

.root:focus .control {
  color: var(--trood-orange);
}

.root.open {
  border-color: var(--trood-orange);
}

.root.open .control {
  color: var(--trood-orange);
}

.root.error {
  border-color: var(--trood-red);
}

.content {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  flex: 1 1;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.control {
  height: 100%;
  color: var(--trood-gray-dark);
  padding-right: 16px;
}

.placeholder,
.value {
  margin-left: 16px;
  color: var(--trood-text-light-gray);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.value {
  text-align: left;
  color: var(--trood-text);
  flex: 1 0;
}

.root.disabled .value {
  color: var(--trood-text-light-gray);
}

.content .search {
  border: none;
  min-height: 0;
  height: 100%;
  padding: 0;
}

.optionsContainer {
  position: absolute;
  z-index: 1000;
  top: calc(100% + 1px);
  left: -1px;
  width: calc(100% + 2px);
  background-color: var(--trood-white);
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--trood-gray-dark);
}

.optionsContainer.openUp {
  top: unset;
  bottom: calc(100% - 3px);
}

.optionsContainer.hide {
  visibility: hidden;
  width: 0;
  opacity: 0;
  z-index: -1;
}

.children {
  padding: 5px 0;
}

.addButton {
  width: 100%;
  text-transform: none;
  padding: 0 10px;
  justify-content: flex-start;
}

.list {
  margin: 0;
  padding: 0;
}

.list li {
  min-height: 72px;
  padding: 0 20px 0 18px;
}


.listItem {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.list li:not(:last-child) .listItem {
  border-bottom: 1px solid var(--trood-gray-dark);
}
