.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  height: 70px;
  border-top: 1px solid var(--trood-gray-dark);
  border-bottom: 1px solid var(--trood-gray-dark);
}

.root:focus {
  border-color: var(--trood-orange);
  outline: none;
}

.root:focus .arrow {
  fill: orange;
}

.root.open {
  border-color: var(--trood-orange);
}

.root.open .arrow {
  fill: var(--trood-orange);
}

.root.error {
  border-color: var(--trood-red);
}

.content {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  flex: 1 1;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.control {
  margin-right: 20px;
  margin-bottom: 24px;
}

.placeholder,
.value {
  display: flex;
  flex: 1;
  height: inherit;
  padding-top: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  color: var(--trood-text-gray);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.placeholder {
  color: var(--trood-text-light-gray);
}

.root.disabled .value {
}

.search {
  margin-top: -4px;
}

.content .search fieldset {
  border: none;
  min-height: 0;
  height: 100%;
  padding: 0;
}

.search input {
  font-family: inherit;
  color: var(--trood-text-gray);
}

.optionsContainer {
  width: 110%;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--trood-white);
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid var(--trood-gray-dark);
}

.defaultDropDown {
  width: 100%;
}

.defaultDropDown .value,
.defaultDropDown .placeholder {
  padding-top: 1px;
  padding-left: 16px;
  height: auto;
  vertical-align: center;
}

.defaultDropDown .optionsContainer {
  width: calc(100% + 32px);
  top: calc(0% - 1px);
}

.defaultDropDown .control {
  z-index: 2;
  /*margin-bottom: 6px;*/
  margin-bottom: 6px;
  margin-right: 19px;
}

.defaultDropDown.open .arrow {
  fill: var(--trood-white);
}

.optionsContainer.openUp {
  top: unset;
  bottom: calc(100% - 3px);
  /*box-shadow:*/
  /*  inset 0 0 0 1px var(--trood-gray-border),*/
  /*  0 -4px 8px rgba(0, 0, 0, 0.1);*/
}

.optionsContainer.hide {
  visibility: hidden;
  width: 0;
  opacity: 0;
  z-index: -1;
}

.children {
  padding: 5px 0;
}

.addButton {
  width: 100%;
  text-transform: none;
  padding: 0 10px;
  justify-content: flex-start;
}

.list {
  margin: 0;
  padding: 0;
}

.list li {
  min-height: 72px;
  /*margin: 0 20px;*/
  padding: 0 20px 0 18px;
}


.listItem {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

.list li:not(:last-child) .listItem {
  border-bottom: 1px solid var(--trood-gray-dark);
}
