.root {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 67%;
    gap: 16px;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 24px;
    margin-top: 24px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.row.additionalGap {
    margin-top: 42px;
}

.block {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1;
    max-width: 366px;
}

.subHeader {
    margin-bottom: 8px;
}

.controls {
    margin-top: 42px;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 56px;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}
