.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000000;
  overflow: auto;
}

.overlay.center {
  display: flex;
  padding: 32px 0;
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100px;
  background-color: var(--trood-white);
  padding: 40px;
  border-radius: 5px;
}

.modal:focus {
  outline: none;
}

.modal.center {
  margin: auto;
}

.modal.left {
  margin: 24px auto 24px 24px;
  height: calc(100% - 48px);
}

.modal.right {
  margin: 24px 24px 24px auto;
  height: calc(100% - 48px);
}

.modal.full {
  margin: 0;
  min-width: 100vw;
}

.modal.full {
  border-radius: 0;
  min-height: 100vh;
}

@media (max-width: 1279px) and (min-width: 800px) {
  .overlay.center {
    padding: 16px 0;
  }

  .modal {
    padding: 16px;
  }
}

@media (max-width: 799px) {
  .overlay.center {
    padding: 16px 0;
  }

  .modal {
    padding: 16px;
  }
}
