.root {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root .button {
    position: absolute;
    top: -36px;
    right: -36px;
    background-color: var(--trood-gray);
    color: var(--trood-text-white);
    border-radius: 50%;
}

.root .button:hover {
    background-color: var(--trood-orange);
}

.root .button svg {
    width: 55%;
    height: 55%;
}
