.root {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.root .button {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--trood-text);
}

.root .button:hover {
    color: var(--trood-orange);
}
