.root {

}

.label {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 110%;
}

.item {
    display: flex;
    align-items: flex-start;
    color: var(--trood-gray);
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 100%;
}

.clear, .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height:15px;
    width: 15px;
    background-color:  var(--trood-red);
    color:  var(--trood-white);
    border-radius: 100%;
    margin-right: 10px;
}

.clear {
    background-color:  var(--trood-red);
}

.check {
    background-color:  var(--trood-orange);
}
