.root {

}

.label {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 110%;
}

.item {
    display: flex;
    align-items: flex-start;
    color: var(--trood-text-light-gray);
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 100%;
}


.clear,
.check {
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    color: var(--trood-white);
    border-radius: 100%;
    margin-right: 10px;
}

.clear,
.clear ~ div {
    opacity: 0.4;
}

.clear {
    border: 1px solid var(--trood-border-light-gray);
}

.check {
    background-color: var(--trood-orange);;
}

.check svg {
    width: 65%;
}

.check ~ div {
    color: var(--trood-orange);
}

