.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 24px;
    font-weight: 500;
    font-size: 48px;
}

.pencil {
    color: var(--trood-text-light-gray);
}

.pencil:hover {
    color: var(--trood-text);
}

.root {
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 24px;
    margin-top: 24px;
}

.left {
    display: flex;
    max-width: 172px;
    flex-flow: column nowrap;
    padding: 0 0 24px;
    margin-right: 16px;
    align-items: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
}

.verifyIcon {
    align-self: flex-start;
    width: 14px;
    height: 14px;
    margin: 23px 0 8px;
    padding-left: 2px;
    color: var(--trood-white);
    background-color: var(--trood-background-light-gray);
    opacity: 0.4;
    border-radius: 100%;
}

.verifyIcon.active {
    background-color: var(--trood-orange);
    opacity: 1;
}

.verifyText {
    margin-bottom: 24px;
    color: var(--trood-text-light-gray);
    opacity: 0.4;
}

.verifyText.active {
    color: var(--trood-text-gray);
    opacity: 1;
}

.link {
    color: var(--trood-orange);
}

.right {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 67%;
    gap: 32px;
    border-left: 1px solid var(--trood-border-dark);
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}

.row.additionalGap {
    margin-top: 42px;
}

.block {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1;
    max-width: 366px;
    padding: 0 16px;
}

.block .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--trood-text-light-gray);
    margin-bottom: 8px;
}

.block .value {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

.block .value:empty:after {
    content: '--------------------';
    letter-spacing: -0.15em;
}

.controls {
    margin-top: 24px;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 56px;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.checkboxLabel {
    font-size: 18px;
    line-height: 125%;
}
