.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 24px;
    font-weight: 500;
    font-size: 48px;
}

.pencil {
    color: var(--trood-text-silver);
}

.pencil:hover {
    color: var(--trood-text);
}

.root {
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 24px;
    margin-top: 24px;
}

.left {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 0 24px;
    margin-right: 48px;
    align-items: center;
}

.right {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 67%;
    gap: 32px;
    border-left: 1px solid var(--trood-border-dark);
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
}

.row.additionalGap {
    margin-top: 42px;
}

.block {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1;
    max-width: 366px;
    padding: 0 16px;
}

.block .title {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--trood-text-light-gray);
    margin-bottom: 8px;
}

.block .value {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

.block .value:empty:after {
    content: '--------------------';
    letter-spacing: -0.15em;
}

.controls {
    margin-top: 24px;
    border-top: 1px solid var(--trood-border-dark);
    padding-top: 56px;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.checkboxLabel {
    font-size: 18px;
    line-height: 125%;
}
