@font-face {
    font-family: "Suisse Intl";
    font-weight: 450;
    font-style: normal;
    src: url("/fonts/SuisseIntl-Book.eot"); /* IE9*/
    src: url("/fonts/SuisseIntl-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/SuisseIntl-Book.woff2") format("woff2"), /* chrome、firefox */
    url("/fonts/SuisseIntl-Book.woff") format("woff"), /* chrome、firefox */
    url("/fonts/SuisseIntl-Book.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/fonts/SuisseIntl-Book.svg#SuisseIntl-Book") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Suisse Intl";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/SuisseIntl-Medium.eot"); /* IE9*/
    src: url("/fonts/SuisseIntl-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/SuisseIntl-Medium.woff2") format("woff2"), /* chrome、firefox */
    url("/fonts/SuisseIntl-Medium.woff") format("woff"), /* chrome、firefox */
    url("/fonts/SuisseIntl-Medium.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/fonts/SuisseIntl-Medium.svg#SuisseIntl-Medium") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "Suisse Intl";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/SuisseIntl-SemiBold.eot"); /* IE9*/
    src: url("/fonts/SuisseIntl-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/SuisseIntl-SemiBold.woff2") format("woff2"), /* chrome、firefox */
    url("/fonts/SuisseIntl-SemiBold.woff") format("woff"), /* chrome、firefox */
    url("/fonts/SuisseIntl-SemiBold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/fonts/SuisseIntl-SemiBold.svg#SuisseIntl-SemiBold") format("svg"); /* iOS 4.1- */
}
