html,
body {
  padding: 0;
  margin: 0;
  font-family: "Suisse Intl", sans-serif;
  font-weight: 450;
  font-size: 24px;
  line-height: 1.15;
  color: var(--trood-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.15;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, div, span {
  transition:
          background-color 0.15s linear 0s,
          color 0.1s linear 0s;
}

* {
  box-sizing: border-box;
}

ul,
p,
fieldset {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  min-inline-size: min-content;
  border-width: 0;
}
