:root {
  --trood-background: #fff;
  --trood-background-gray: #d3d3d3;
  --trood-background-dark: #2f2d2d;
  --trood-background-light-gray: #979696;

  --trood-text: #312f2f;
  --trood-text-gray: #2f2d2d;
  --trood-text-light-gray: #979696;
  --trood-text-white: #fff;

  --trood-white: #fff;
  --trood-gray-light: #f0f0f5;
  --trood-gray: #312f2f;
  --trood-gray-dark: #2f2d2d;

  --trood-border: #e8e8e8;
  --trood-border-dark: #312f2f;
  --trood-border-light: #fff;
  --trood-border-gray-dark: #2f2d2d;
  --trood-border-light-gray: #979696;

  --trood-orange: #e4a642;
  --trood-red: #e95c5c;

  --trood-input-border-radius: 16px;
}
