.root * {
    text-transform: none;
}

.search {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    margin-bottom: 45px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--trood-border-gray-dark);
}

.search .select {
    width: 360px;
}

.search .select > div {
    border-top: none;
    border-bottom: none;
}

.search .splitter {
    height: 54px;
    border-left: 1px solid var(--trood-border-dark);
}

.search .input {
    flex: 1;
    color: var(--trood-text-silver);
}

.search input::placeholder {
    letter-spacing: 0.03em;
    color: var(--trood-text-silver);
    opacity: 0.4;
}

.search .input > div {
    background-color: transparent;
}

.search .input fieldset {
    border-top: none;
    padding-top: 0;
    margin: auto 0;
}

.search .input input {
    margin-bottom: 0;
}

.search .button {
    padding: 20px;
    right: 12px;
    position: absolute;
    align-self: center;
    font-weight: 450;
    font-size: 18px;
    color: var(--trood-gray-dark);
    background-color: var(--trood-white);
    stroke: var(--trood-gray-dark);
    stroke-width: 2;
}

.title {
    font-weight: 500;
    font-size: 64px;
    line-height: 105%;
    letter-spacing: -0.02em;
    color: var(--trood-text-gray);
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.registrationBtn {
    width: 300px;
    height: 60px;
}
