.root {
    display: flex;
    flex-flow: column;
}

.navigation {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 56px;
    gap: 24px;
}

.organizationLink:hover {
    color: var(--trood-orange);
}

.organizationLink {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: start;
    padding: 0 16px;
    flex-basis: 33%;
    letter-spacing: -0.04em;
    color: var(--trood-gray-dark);
    border: 2px solid;
    border-radius: 16px;
}

.linkContent {
    display: flex;
    gap: 24px;
}

.financeLink {
    composes: organizationLink;
}

.productsLink {
    composes: organizationLink;
    justify-content: center;
    color: var(--trood-orange);
}

.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 100px;
    padding-top: 43px;
    border-top: 1px solid var(--trood-border-dark);
}

.left {
    flex: 1 1 73%;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--trood-border-dark);
    margin-bottom: 56px;
}

.header .button {
    text-transform: lowercase;
    font-weight: 500;
}

.right {
    flex: 1 1 27%;
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}

.right .title {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.04em;
    margin-bottom: 12px;
    text-transform: lowercase;
}

.right .select {
    text-transform: lowercase;
}

.right .select > div {
    border: 1px solid var(--trood-border-dark);
    border-radius: 16px;
    height: 64px;
}

.right .select span {
    font-weight: 500;
}

.right .select.active {
    color: var(--trood-orange);
}

.right .select.active > div {
    border: 1px solid var(--trood-orange);
}

.right .select.active span {
    color: var(--trood-orange);
}

.right .button {
    justify-content: flex-start;
}
